#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-container {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.main-content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}
.currency:before {
  content: "₹";
}
